 <div class="jumbotron">
        <h1 class="display-4">Wena {{nombre}} ¡¡</h1>
        <p class="lead">oh mago ayudame ¡¡ el parra dura poco ¡¡</p>
        <hr class="my-4">
        <p> mago ya me la dejaste lista ?? mago : si parra es llegar y meter :D
        </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>