 <div class="jumbotron">
        <h1 class="display-4">Bienvenidos {{nombre}} ¡¡</h1>
        <p class="lead">Pronto será la publicación del primer juego </p>
        <hr class="my-4">
        <p> :D
        </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Leer mas? xD</a>
    </div>